.DS_Store
dist/
docs/.observablehq/cache/
node_modules/
yarn-error.log

.vscode/
.venv/

docs/data/.cache_author/
docs/data/embedding-walk/
docs/data/oa_data*
docs/data/scripts/geckodriver
docs/data/scripts/phd_students.parquet
docs/data/scripts/scrape*

data/raw/
data/processed/
scripts/models/Week_9_Poisson_regression.ipynb

scripts/models/stan/
!scripts/models/stan/*.stan
