src/JSO_thesis/
.DS_Store
/dist/
node_modules/
yarn-error.log

.DS_Store
dist/
src/.observablehq/cache/
node_modules/
yarn-error.log

.vscode/
.venv/

tmp/
src/data/.cache_author/
src/data/embedding-walk/
src/data/oa_data*
src/data/scripts/geckodriver
src/data/scripts/phd_students.parquet
src/data/scripts/scrape*

data/raw/
data/processed/
scripts/models/Week_9_Poisson_regression.ipynb

scripts/models/stan/
!scripts/models/stan/*.stan
data/clean/
data/oa_data_raw_copy.db
__pycache__/
data/oa_data_raw.db
docs/data/*.parquet
etc/*.pdf
scripts/import/geckodriver
